<html lang="en">

	<head prefix="og: http://ogp.me/ns#">

	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	
	<title>Checkboxes</title>
	

	<!-- Short description of the page (limit to 150 characters) -->
	<!-- In *some* situations this description is used as a part of the snippet shown in the search results. -->
	<meta name="description" content="The Civil Service LGBT+ Network helps to create a more diverse, inclusive and equal place to work for civil servants who are lesbian, gay, bisexual..." />
	<meta name="author" content="Civil Service LGBT+ Network" />

	<!-- Control the behaviour of search engine crawling and indexing -->
	<meta name="robots" content="index,follow"><!-- All Search Engines -->
	<meta name="googlebot" content="index,follow"><!-- Google Specific -->

	<!-- Verify ownership -->
	<meta name="google-site-verification" content="RA-YBjxyRYVSuSFAYLKkufs6gjme6kMcihoB2KgKrTA"><!-- Google Search Console -->

	<!-- Base URLS, duplicate URLs and feeds -->
	<meta name="url" content="https://www.civilservice.lgbt">
	<base href="https://www.civilservice.lgbt/design-system/components/checkbox/">
	<!-- Links to top level resource in an hierarchical structure -->
	<link rel="index" href="https://www.civilservice.lgbt/design-system">
	<link rel="canonical" href="https://www.civilservice.lgbt/design-system/components/checkbox/">
	<link rel="alternate" href="https://www.civilservice.lgbt/feed.xml" type="application/rss+xml" title="Civil Service LGBT+ Network">
	<!-- Links to a document that describes a collection of records, documents, or other materials of historical interest. -->
	<link rel="archives" href="https://www.civilservice.lgbt/design-system/archives">

	<!-- Gives information about the author -->
	

<link rel="me" href="//facebook.com/civilservicelgbt" type="text/html">



<link rel="me" href="//twitter.com/cslgbt" type="text/html">



<link rel="me" href="//www.flickr.com/photos/civilservicelgbt/" type="text/html">



<link rel="me" href="//www.instagram.com/civilservicelgbt" type="text/html">





	<!-- Facebook Open Graph settings -->
	<meta property="og:url" 	content="https://www.civilservice.lgbt/design-system/components/checkbox/">

<meta property="og:site_name" content="Civil Service LGBT+ Network">


<meta property="og:type" content="website" />



<meta property="og:title" content="Checkboxes">



<meta property="og:description" content="Checkboxes allow users to select more than one option as part of a form.">



<meta property="article:author" content="Civil Service LGBT+ Network" />

<meta property="article:publisher" content="Civil Service LGBT+ Network" />


<meta property="og:image" content="https://www.civilservice.lgbt/design-system/assets/images/site/social-media.png">


<meta property="og:rich_attachment" content="true" />
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">

<meta property="og:locale" 	content="en_GB">

	<!-- Twitter Cards settings -->
	<meta name="twitter:card" 			content="summary_large_image">
<meta name="twitter:url" 			content="https://www.civilservice.lgbt/design-system/components/checkbox/">





<meta name="twitter:site" 			content="@cslgbt">
<meta name="twitter:creator" 		content="@cslgbt">










<meta property="twitter:title" content="Checkboxes">



<meta property="twitter:description" content="Checkboxes allow users to select more than one option as part of a form.">



<meta property="twitter:image" content="https://www.civilservice.lgbt/design-system/assets/images/site/social-media.png">




	<!-- Schema.org settings -->
	
<meta itemprop="name" content="Checkboxes">



<meta itemprop="description" content="Checkboxes allow users to select more than one option as part of a form.">



<meta itemprop="image" content="https://www.civilservice.lgbt/design-system/assets/images/site/social-media.png">


	<!-- Favicons -->
	<!-- Place favicon.ico in the root directory - no tag necessary -->
<meta name="theme-color" content="#e6007e">
<link rel="icon" href="https://www.civilservice.lgbt/design-system/assets/images/site/favicon.svg">
<link rel="mask-icon" href="https://www.civilservice.lgbt/design-system/assets/images/site/favicon-pinned-svg.svg" color="#e6007e">
<link rel="apple-touch-icon" href="https://www.civilservice.lgbt/design-system/assets/images/site/favicon-large-png.png">

	<!-- CSS -->
	<link rel="stylesheet" media="screen" href="https://www.civilservice.lgbt/design-system/assets/styles/styles.css">

	<!-- Print styles -->
	<link rel="stylesheet" media="print" href="https://www.civilservice.lgbt/design-system/assets/styles/print.css">

	
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id="></script>
	

	<script type="text/javascript" src="https://www.civilservice.lgbt/design-system/assets/scripts/scripts.js"></script>

</head>


	<body id="" class="">

		<script>
			document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
		</script>

		<a href="#main-content" class="skip-link">Skip to main content</a>
		<header class="header" role="banner">
	<div class="header--container width-container">
		<div class="header--logo">
		  <a href="https://www.civilservice.lgbt" class="header--logotype--link">
			<span class="header--logotype--text">Civil Service</span>
			<span class="header--logotype--text">LGBT+ Network</span>
		  </a>
		</div>
		<div class="header--content">
			
			<button type="button" id="menu-button" class="header--menu-button js-header-toggle" aria-controls="navigation" aria-label="Show or hide navigation menu" onclick="toggleMenu()">Menu</button>

			<nav>
				<ul id="navigation" class="header--navigation" aria-label="Navigation menu">
				
				
				
				
					
					
					
						<li class="header--navigation-item">
							<a class="header--link" href="https://www.civilservice.lgbt/news" title="Visit the News page">
								News
							</a>
						</li>
					
				
				
				
					
					
					
						<li class="header--navigation-item">
							<a class="header--link" href="https://www.civilservice.lgbt/events" title="Visit the Events page">
								Events
							</a>
						</li>
					
				
				
				
					
					
					
						<li class="header--navigation-item">
							<a class="header--link" href="https://www.civilservice.lgbt/topics" title="Visit the Topics page">
								Topics
							</a>
						</li>
					
				
				
				
					
					
					
						<li class="header--navigation-item">
							<a class="header--link" href="https://www.civilservice.lgbt/publications" title="Visit the Publications page">
								Publications
							</a>
						</li>
					
				
				
				
					
					
					
						<li class="header--navigation-item">
							<a class="header--link" href="https://www.civilservice.lgbt/consultations" title="Visit the Consultations page">
								Consultations
							</a>
						</li>
					
				
				
				
					
					
					
						<li class="header--navigation-item">
							<a class="header--link" href="https://www.civilservice.lgbt/networks" title="Visit the Networks page">
								Networks
							</a>
						</li>
					
				
				
				
					
					
					
						<li class="header--navigation-item">
							<a class="header--link" href="https://www.civilservice.lgbt/team" title="See who we are">
								Our team
							</a>
						</li>
					
				
				
				
					
					
					
						<li class="header--navigation-item">
							<a class="header--link" href="https://www.civilservice.lgbt/about" title="Learn more about us">
								About
							</a>
						</li>
					
				
				
				
					
					
					
						<li class="header--navigation-item">
							<a class="header--link" href="https://www.civilservice.lgbt/join-us" title="Visit the membership registration page">
								Join us
							</a>
						</li>
					
				
				
				</ul>
			</nav>
			
		</div>
	</div>
</header>
	
	


<div class="width-container">

	

<div class="breadcrumbs breadcrumbs--collapse-on-mobile">
	<ol class="breadcrumbs--list">
		<li class="breadcrumbs--list-item">
			<a class="breadcrumbs--link" href="https://www.civilservice.lgbt/design-system">Home</a>
		</li>
		
		<li class="breadcrumbs--list-item">
			<a class="breadcrumbs--link" href="https://www.civilservice.lgbt/design-system/design-system">Design system</a>
		</li>
		
		
	</ol>
</div>


	

	<main class="main-wrapper main-wrapper--auto-spacing" id="main-content" role="main">

		





<div class="grid-row">

    <header class="page--header page--header--collection--left-nav">

	<div class="grid-column-full">

	

		
			
		

	

	
		<h1 class="page--heading">Checkboxes</h1>
	</div>

	
	<div class="grid-column-two-thirds">

		<p class="page--excerpt">Checkboxes allow users to select more than one option as part of a form.</p>

	</div>
	

	

</header>

</div>
<div class="grid-row">

    <div class="grid-column-one-third">

        <ul class="list--no-styles collection--left-nav--navigation">

        

          

          <li><a href="https://www.civilservice.lgbt/design-system/components/back-link/">Back link</a></li>

          

          <li><a href="https://www.civilservice.lgbt/design-system/components/breadcrumbs/">Breadcrumbs</a></li>

          

          <li><a href="https://www.civilservice.lgbt/design-system/components/button/">Buttons</a></li>

          

          <li><a href="https://www.civilservice.lgbt/design-system/components/checkbox/">Checkboxes</a></li>

          

          <li><a href="https://www.civilservice.lgbt/design-system/components/date-input/">Date inputs</a></li>

          

          <li><a href="https://www.civilservice.lgbt/design-system/components/details-summary/">Details and summary</a></li>

          

          <li><a href="https://www.civilservice.lgbt/design-system/components/fieldset/">Fieldset</a></li>

          

          <li><a href="https://www.civilservice.lgbt/design-system/components/footer/">Footer</a></li>

          

          <li><a href="https://www.civilservice.lgbt/design-system/components/header/">Header</a></li>

          

          <li><a href="https://www.civilservice.lgbt/design-system/components/inset-text/">Inset text</a></li>

          

          <li><a href="https://www.civilservice.lgbt/design-system/components/notification-banner/">Notification banners</a></li>

          

          <li><a href="https://www.civilservice.lgbt/design-system/components/panel/">Panels</a></li>

          

          <li><a href="https://www.civilservice.lgbt/design-system/components/radios/">Radio buttons</a></li>

          

          <li><a href="https://www.civilservice.lgbt/design-system/components/skip-link/">Skip link</a></li>

          

          <li><a href="https://www.civilservice.lgbt/design-system/components/table/">Table</a></li>

          

          <li><a href="https://www.civilservice.lgbt/design-system/components/text-area/">Text area</a></li>

          

          <li><a href="https://www.civilservice.lgbt/design-system/components/text-input/">Text input</a></li>

          

          <li><a href="https://www.civilservice.lgbt/design-system/components/warning-text/">Warning text</a></li>

          

          <li><a href="https://www.civilservice.lgbt/design-system/styles/building-layouts/">Building layouts</a></li>

          

          <li><a href="https://www.civilservice.lgbt/design-system/styles/colour/">Colour</a></li>

          

          <li><a href="https://www.civilservice.lgbt/design-system/styles/typography/headings/">Headings</a></li>

          

          <li><a href="https://www.civilservice.lgbt/design-system/styles/typography/links/">Links</a></li>

          

          <li><a href="https://www.civilservice.lgbt/design-system/styles/typography/lists/">Lists</a></li>

          

          <li><a href="https://www.civilservice.lgbt/design-system/styles/typography/paragraphs/">Paragraphs</a></li>

          

          <li><a href="https://www.civilservice.lgbt/design-system/styles/typography/section-breaks/">Section breaks</a></li>

          

        



    </div>

    <div class="grid-column-two-thirds">

        <article div class="collection--left-nav--article">
            <p>Let users select one or more options by using the checkboxes component.</p>

<h2>When to use this component</h2>

<p>Use the checkboxes component when you need to help users:</p>

<ul class="list--bullet">
    <li>select multiple options from a list</li>
    <li>toggle a single option on or off</li>
</ul>

<h2>When not to use this component</h2>

<p>Do not use the checkboxes component if users can only choose one option from a selection. In this case, use the <a href="/design-system/radios" class="link">radios component</a>.</p>

<details>
    <summary>Formatted example</summary>

    <fieldset id="events-in--fieldset" class="fieldset" aria-describedby="events-in--hint">

        <legend id="fieldset-group--title">
            You want to hear about events taking place in:
        </legend>
        <p id="events-in--hint" class="hint">
            Select all that apply.
        </p>
        <div class="checkboxes">
            <div class="checkboxes--item">
                <input class="checkboxes--input" id="events-in--england" name="events-in" type="checkbox" value="england">
                <label class="checkboxes--label" for="events-in--england">
                    England
                </label>
            </div>
            <div class="checkboxes--item">
                <input class="checkboxes--input" id="events-in--northern-ireland" name="events-in" type="checkbox" value="northern-ireland">
                <label class="checkboxes--label" for="events-in--northern-ireland">
                    Northern Ireland
                </label>
            </div>
            <div class="checkboxes--item">
                <input class="checkboxes--input" id="events-in--scotland" name="events-in" type="checkbox" value="scotland">
                <label class="checkboxes--label" for="events-in--scotland">
                    Scotland
                </label>
            </div>
            <div class="checkboxes--item">
                <input class="checkboxes--input" id="events-in--wales" name="events-in" type="checkbox" value="wales">
                <label class="checkboxes--label" for="events-in--wales">
                    Wales
                </label>
            </div>
            <div class="checkboxes--item">
                <input class="checkboxes--input" id="events-in--overseas" name="events-in" type="checkbox" value="overseas">
                <label class="checkboxes--label" for="events-in--overseas">
                    Outside the UK
                    <div id="events-in--overseas--item-hint" class="hint checkboxes--hint">
                        Select this option if you are posted overseas
                    </div>
                </label>
            </div>
        </div>

    </fieldset>

</details>

<details>
    <summary>HTML code</summary>

    <pre><code>&lt;fieldset class="fieldset" id="events-in" aria-describedby="events-in--hint"&gt;

    &lt;legend&gt;
        You want to hear about events taking place in:
    &lt;/legend&gt;
    &lt;p id="events-in--hint" class="hint"&gt;
        Select all that apply.
    &lt;/p&gt;
    &lt;div class="checkboxes"&gt;
        &lt;div class="checkboxes--item"&gt;
            &lt;input class="checkboxes--input" id="events-in--england" name="events-in" type="checkbox" value="england"&gt;
            &lt;label class="checkboxes--label" for="events-in--england"&gt;
                England
            &lt;/label&gt;
        &lt;/div&gt;
        &lt;div class="checkboxes--item"&gt;
            &lt;input class="checkboxes--input" id="events-in--northern-ireland" name="events-in" type="checkbox" value="northern-ireland"&gt;
            &lt;label class="checkboxes--label" for="events-in--northern-ireland"&gt;
                Northern Ireland
            &lt;/label&gt;
        &lt;/div&gt;
        &lt;div class="checkboxes--item"&gt;
            &lt;input class="checkboxes--input" id="events-in--scotland" name="events-in" type="checkbox" value="scotland"&gt;
            &lt;label class="checkboxes--label" for="events-in--scotland"&gt;
                Scotland
            &lt;/label&gt;
        &lt;/div&gt;
        &lt;div class="checkboxes--item"&gt;
            &lt;input class="checkboxes--input" id="events-in--wales" name="events-in" type="checkbox" value="wales"&gt;
            &lt;label class="checkboxes--label" for="events-in--wales"&gt;
                Wales
            &lt;/label&gt;
        &lt;/div&gt;
        &lt;div class="checkboxes--item"&gt;
            &lt;input class="checkboxes--input" id="events-in--overseas" name="events-in" type="checkbox" value="overseas"&gt;
            &lt;label class="checkboxes--label" for="overseas"&gt;
                Outside the UK
                &lt;div id="events-in--overseas--item-hint" class="hint checkboxes-hint"&gt;
                    Select this option if you are posted overseas
                &lt;/div&gt;
            &lt;/label&gt;
        &lt;/div&gt;
    &lt;/div&gt;

&lt;/fieldset&gt;</code></pre>
</details>
        </article>

    </div>

</div>

	</main>

	
<aside class="feedback">
	<div class="button-group">
		<a href="mailto:info@civilservice.lgbt?subject=Website%20feedback&body=PROVIDE%20FEEDBACK%0D%0APage%20URL%3A%20/components/checkbox/%0D%0A%0D%0AI'd%20like%20to%20provide%20the%20following%20feedback%3A%0D%0A%3C%3C%20Insert%20your%20explanation%20%3E%3E" class="button button--feedback">Provide feedback about this page</a>
		<a href="mailto:info@civilservice.lgbt?subject=Error%20with%20webpage&body=ERROR%20REPORT%0D%0APage%20URL%3A%20/components/checkbox/%0D%0A%0D%0APlease%20explain%20what%20you%20were%20trying%20to%20do%3A%0D%0A%3C%3C%20Insert%20your%20explanation%20%3E%3E%0D%0A%0D%0APlease%20explain%20what%20error%20you%20encountered%3A%0D%0A%3C%3C%20Insert%20your%20explanation%20%3E%3E" class="button button--feedback">Report an error with this page</a>
	</div>
</aside>


</div>

<footer class="footer" role="contentinfo">
	<div class="width-container">
		<div class="grid-row">
			<div class="grid-column-one-third">
				<h2 class="footer--wordmark">Civil Service LGBT+ Network</h2>
			</div>
			<div class="grid-column-one-third">
				<h2 class="footer--heading">Related links</h2>
				<ul class="footer--list">
					
					
					<li class="footer--list-item">
						<a class="footer--link" href="https://www.civilservice.lgbt/design-system" title="Visit the design system">
							Design system
						</a>
					</li>
					
					
					
					<li class="footer--list-item">
						<a class="footer--link" href="https://www.civilservice.lgbt/manuals" title="Read the volunteer manuals">
							Volunteer manuals
						</a>
					</li>
					
					
				</ul>
			</div>
			<div class="grid-column-one-third">
				<h2 class="footer--heading">Social media</h2>
				<ul class="footer--list">
					
					
					<li class="footer--list-item">
						<a class="footer--link" href="//facebook.com/civilservicelgbt" title="Visit our Facebook profile page (Opens in new window)"  rel="noreferrer noopener" target="_blank">
							Like us on Facebook
						</a>
					</li>
					
					
					
					<li class="footer--list-item">
						<a class="footer--link" href="//twitter.com/cslgbt" title="Visit our Twitter profile page (Opens in new window)"  rel="noreferrer noopener" target="_blank">
							Follow us on Twitter
						</a>
					</li>
					
					
					
					<li class="footer--list-item">
						<a class="footer--link" href="//www.flickr.com/photos/civilservicelgbt/" title="Visit our Flickr profile page (Opens in new window)"  rel="noreferrer noopener" target="_blank">
							Find us on Flickr
						</a>
					</li>
					
					
					
					<li class="footer--list-item">
						<a class="footer--link" href="//www.instagram.com/civilservicelgbt" title="Visit our Instagram profile page (Opens in new window)"  rel="noreferrer noopener" target="_blank">
							Follow us on Instagram
						</a>
					</li>
					
					
					
					
				</ul>
			</div>
		</div>
		<hr class="footer--section-break">
		<div class="footer--meta">
			<div class="footer--meta-item">
				<p>Website created by <a href="//www.johnpe.art" title="Visit John Peart’s website (Opens in new window)" target="_blank" rel="noopener noreferrer">John Peart</a>.</p>

			</div>
			<div class="footer--meta-item">
				<p>All content is released under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" title="Read more about the Open Government License. (Opens in new window)" target="_blank">Open Government License</a> unless otherwise stated. Please attribute our work.</p>

			</div>
		</div>
	</div>
</footer>



	</body>

</html>
