---
title: Fieldset
excerpt: "Fieldsets group together related inputs on a form."

layout: collection--left-nav
meta-info: false
categories:
- components
---


<p>Use the fieldset component to group related form inputs.</p>

<h2>When to use this component</h2>

<p>Use the fieldset component when you need to show a relationship between multiple form inputs. </p>

<h2>Fieldset with extra large legend</h2>

<details>
    <summary>Formatted example</summary>

    <fieldset id="fieldset-group-name" aria-describedby="fieldset-group-title">
        <legend id="fieldset-group-title" class="legend-xl">
            Fieldset legend
        </legend>
        <em>&lt;!-- form fields go here --&gt;</em>
    </fieldset>
</details>

<details>
    <summary>HTML code</summary>

    <pre><code>&lt;fieldset id="fieldset-group-name" aria-describedby="fieldset-group-title"&gt;
    &lt;legend id="fieldset-group-title" class="legend-xl"&gt;
        Fieldset legend
    &lt;/legend&gt;
    <em>&lt;!-- form fields go here --&gt;</em>
&lt;/fieldset&gt;</code></pre>
</details>

<h2>Fieldset with large legend</h2>

<details>
    <summary>Formatted example</summary>

    <fieldset id="fieldset-group-name" aria-describedby="fieldset-group-title">
        <legend id="fieldset-group-title" class="legend-lg">
            Fieldset legend
        </legend>
        <em>&lt;!-- form fields go here --&gt;</em>
    </fieldset>
</details>

<h2>Field set with medium legend</h2>

<p>If you do not add the <code>legend-*</code> class to the <code>&lt;legend&gt;</code> tag, it will default to medium size.</p>

<details>
    <summary>HTML code</summary>

    <pre><code>&lt;fieldset id="fieldset-group-name" aria-describedby="fieldset-group-title"&gt;
    &lt;legend id="fieldset-group-title" class="legend-md"&gt;
    Fieldset legend
    &lt;/legend&gt;
    <em>&lt;!-- form fields go here --&gt;</em>
&lt;/fieldset&gt;</code></pre>
</details>

<h2>Field set with small legend</h2>

<details>
    <summary>Formatted example</summary>

    <fieldset id="fieldset-group-name" aria-describedby="fieldset-group-title">
        <legend id="fieldset-group-title" class="legend-sm">
            Fieldset legend
        </legend>
        <em>&lt;!-- form fields go here --&gt;</em>
    </fieldset>
</details>

<details>
    <summary>HTML code</summary>

    <pre><code>&lt;fieldset id="fieldset-group-name" aria-describedby="fieldset-group-title"&gt;
    &lt;legend id="fieldset-group-title" class="legend-xl"&gt;
        Fieldset legend
    &lt;/legend&gt;
    <em>&lt;!-- form fields go here --&gt;</em>
&lt;/fieldset&gt;</code></pre>
</details>

<details>
    <summary>Formatted example</summary>

    <fieldset id="fieldset-group-name" aria-describedby="fieldset-group-title">
        <legend id="fieldset-group-title" class="legend-xl">
            Fieldset legend
        </legend>
        <em>&lt;!-- form fields go here --&gt;</em>
    </fieldset>
</details>

<details>
    <summary>HTML code</summary>

    <pre><code>&lt;fieldset id="fieldset-group-name" aria-describedby="fieldset-group-title"&gt;
    &lt;legend id="fieldset-group-title" class="legend-xl"&gt;
        Fieldset legend
    &lt;/legend&gt;
    <em>&lt;!-- form fields go here --&gt;</em>
&lt;/fieldset&gt;</code></pre>
</details>