---
title: File upload
excerpt: "File upload forms allow uses to upload one or more files to a service."

layout: design-system
meta-info: false
categories:
- components
---

<h2>When to use this component</h2>

<p>You should only ask users to upload something if it’s critical to the delivery of your service.</p>

<details open>
    <summary>Formatted example</summary>

      <label class="label" for="file-upload-1">
        Upload a file
      </label>
      <input class="file-upload" id="file-upload-1" name="file-upload-1" type="file">
</details>

<details>
    <summary>HTML code</summary>

    <pre><code>&lt;label class="label" for="file-upload-1"&gt;
    Upload a file
&lt;/label&gt;
&lt;input class="file-upload" id="file-upload-1" name="file-upload-1" type="file"&gt;</code></pre>
</details>