---
title: Screen sizes
layout: collection--left-nav
meta-info: false
categories:
- styles
---

<p>Design for small screens first, starting with a single-column layout.</p>

<p>For most types of page, we recommend using either a ‘two-thirds’ or a ‘two-thirds and one third layout’. That stops lines of text getting so long that the page becomes difficult to read on desktop devices. This would usually mean no more than 75 characters per line.</p>

<p>Never make assumptions about what devices people are using. Design for different screen sizes rather than specific devices.</p>

<p>The default maximum page width is 1020px.</p>